<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/task 
	http://www.springframework.org/schema/task/spring-task-3.0.xsd">


	<bean id="ca" class="com.kevin.serviceImpl.CA" scope="singleton">
		<property name="cb" ref="cb" />
	</bean>
	<bean id="cb" class="com.kevin.serviceImpl.CB" scope="singleton">
		<property name="cc" ref="cc" />
	</bean>
	<bean id="cc" class="com.kevin.serviceImpl.CC" scope="singleton">
		<property name="ca" ref="ca" />
	</bean>






</beans>